---
---

@import "{{ site.theme }}";
body {
  background-color:#111;
  color: white;
  font-family:monospace;
  max-width:50em;
  margin:0px auto;
}

h1, h2, h3 {
  font-family: sans-serif;
}

p, ul, ol, blockquote {
  font-family: monospace;
  color:white;
}

a {color:dodgerblue;}
a:visited {color:mediumpurple;}

